[submodule "HughAI"]
	path = AI/Skirmish/HughAI
	url = https://github.com/spring/HughAI.git
[submodule "AI/Interfaces/Python"]
	path = AI/Interfaces/Python
	url = https://github.com/spring/Python.git
[submodule "AI/Skirmish/Shard"]
	path = AI/Skirmish/Shard
	url = https://github.com/spring/Shard.git
[submodule "AI/Skirmish/KAIK"]
	path = AI/Skirmish/KAIK
	url = https://github.com/spring/KAIK.git
[submodule "tools/unitsync/python"]
	path = tools/unitsync/python
	url = https://github.com/spring/pyunitsync.git
[submodule "tools/pr-downloader"]
	path = tools/pr-downloader
	url = https://github.com/spring/pr-downloader.git
[submodule "tools/SpringMapConvNG"]
	path = tools/mapcompile
	url = https://github.com/spring/SpringMapConvNG.git
[submodule "AI/Skirmish/AAI"]
	path = AI/Skirmish/AAI
	url = https://github.com/spring/AAI.git
