# Specifies intentionally untracked file system entries to ignore.
#
# Notes:
# 1. Do not commit .gitignore files in sub directories of the repository,
# as they would have to be explicitly excluded when generating the installer,
# building the project and in other situations.
# 2. Use the full path to a dir when you want to exclude a directory
# and everything it contains. Start with repo-root, which is "/",
# and do NOT use a "/" at the end, as this would fail if that dir is a symlink.
# good example:
# /game/maps
# bad examples:
# game/maps
# game/maps/
#
# For more details about how this file works, see:
# http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#

# springs generated base content files
/game/base

# when installing into ./game
# this is the default, but not recommended
/game/infolog.txt
/game/maps
/game/mods
/game/demos
/game/AI/Bot-libs
/game/AI/Helper-libs
/game/ArchiveCacheV7.lua
/game/ext.txt
/game/LuaUI/Config/widget_data.lua
/game/LuaUI/Config/widget_order.lua
/game/spring
/game/spring-dedicated
/game/*.def
/game/*.exe
/game/*.dll
/game/*.so

# DoxyGen output
/doc

# Scons related
/build

# CMake related
# though it is cleaner to not build directly in the repository root
/CMakeFiles
/CMakeCache.txt

# Visual Studio related
/rts/build/vstudio8/rts.ncb
/rts/build/vstudio8/rts.suo
/rts/build/vstudio8/Release
/rts/build/vstudio8/Debug
/rts/build/vstudio8/Debug+MT
/rts/build/vstudio8/Release with error catching
/rts/build/vstudio8/Release+MT with error catching
/rts/build/vstudio8/Syncdebug

# NTai build folders
/AI/Skirmish/NTai/AI/Debug
/AI/Skirmish/NTai/AI/Release
/AI/Skirmish/NTai/AI/AI.ncb
/AI/Skirmish/NTai/AI/AI.suo

# Windows libraries used by spring when compiling with MinGW
# recommended: place the dir somewhere else, and specify with
# MINGWLIBS=<your-path-here>/mingwlibs
/mingwlibs

# Windows libraries used by spring when compiling with Visual Studio
/vclibs

# Installer files
/external
/installer/SpringLobby
/installer/TASClient

# Java AI related
/AI/Interfaces/Java/build
/AI/Skirmish/*/build

# Misc file endings (eg. build or temp files)
*.o
*.log
*~
.*.swp
*.a
*.gch
*.dir

# ???
progress.make

