# Specifies intentionally untracked file system entries to ignore.
#
# Notes:
# 1. Do not commit .gitignore files in sub directories of the repository,
# as they would have to be explicitly excluded when generating the installer,
# building the project and in other situations.
# 2. Use the full path to a dir when you want to exclude a directory
# and everything it contains. Start with repo-root, which is "/",
# and do NOT use a "/" at the end, as this would fail if that dir is a symlink.
# good example:
# /game/maps
# bad examples:
# game/maps
# /game/maps/
#
# For more details about how this file works, see:
# http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#

# when installing into ./dist
# this is the default, but not recommended
/dist

# DoxyGen output
/doc/doxygen

# doc/manpages
/manpages

# CMake generated version container file for use within tarballs
/VERSION

# CMake related
# though it is cleaner to not build directly in the repository root
CMakeFiles
/CMakeCache.txt
*.sdz
Makefile
cmake_install.cmake
CTestTestfile.cmake
progress.make

# Ninja related
/.ninja_log
/.ninja_deps
/build.ninja
/rules.ninja

# Visual Studio related
*.ncb
*.suo
/rts/build/vstudio8/Release
/rts/build/vstudio8/Debug
/rts/build/vstudio8/Debug+MT
/rts/build/vstudio8/Release with error catching
/rts/build/vstudio8/Release+MT with error catching
/rts/build/vstudio8/Syncdebug

/rts/build/vstudio10/Release
/rts/build/vstudio10/Debug
/rts/build/vstudio10/Debug+MT
/rts/build/vstudio10/Release with error catching
/rts/build/vstudio10/Release+MT with error catching
/rts/build/vstudio10/Syncdebug

# Windows libraries used by spring when compiling with MinGW
# recommended: place the dir somewhere else, and specify with
# MINGWLIBS=<your-path-here>/mingwlibs
/mingwlibs
/mingwlibs64

# Windows libraries used by spring when compiling with Visual Studio
/vclibs

# Installer files
/external
/installer/SpringLobby
/installer/TASClient
/installer/downloads
/installer/custom_defines.nsi

# AI files
/AI/Skirmish/*/build
/AI/Wrappers/JavaOO/target
/AI/Wrappers/JavaOO/sourceFiles.txt
/AI/Wrappers/JavaOO/src-generated/
/AI/Interfaces/Java/build
/AI/Interfaces/Java/target
/AI/Interfaces/Java/myGeneratedSourceDir.stub
/AI/Interfaces/Java/src-generated/
/AI/Interfaces/Java/sourceFiles.txt
/AI/Skirmish/*/target
/AI/Skirmish/NullJavaAI/sourceFiles.txt
/AI/Skirmish/NullOOJavaAI/sourceFiles.txt
/AI/Wrappers/Cpp/src-generated/
*.jar


# Misc file endings (eg. build or temp files)
*.o
*.so
*.log
*~
.*.swp
*.a
*.gch
*.dir
*.class
*.orig
*.dylib

*.obj
*.dll
*.exe

# generated files
/demotool
/spring
/spring-dedicated
/spring-headless
/springsettings.cfg
/src-generated

#buildbot generated dir
/build

#installer downloaded/generated stuff
/installer/Springlobby/
/installer/*.exe

#spring related files when run in portable mode
/cache
/lobby
/log
/infolog.txt
/demos
/LuaUI

#Visual Studio files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pyc
