[submodule "E323AI"]
	path = AI/Skirmish/E323AI
	url = git://github.com/Error323/E323AI.git
[submodule "NTai"]
	path = AI/Skirmish/NTai
	url = git://github.com/Tarendai/ntai.git
[submodule "HughAI"]
	path = AI/Skirmish/HughAI
	url = git://github.com/hughperkins/HughAI.git
