Marek Baczynski <imbaczek@gmail.com> imbaczek <imbaczek@37977431-3df6-0310-b722-df95706aa16b>
Karl-Robert Ernst <k-r.ernst@my-mail.ch> Auswaschbar <Auswaschbar@37977431-3df6-0310-b722-df95706aa16b>
zerver <mr@zerver.net> zerver <zerver@37977431-3df6-0310-b722-df95706aa16b>
zerver <mr@zerver.net> unknown <mr@zerver.net>
Tobi Vollebregt <tobivollebregt@gmail.com> tvo <tvo@37977431-3df6-0310-b722-df95706aa16b>
hoijui <hoijui.quaero@gmail.com> hoijui <hoijui@37977431-3df6-0310-b722-df95706aa16b>
hoijui <hoijui.quaero@gmail.com> Robin Vobruba <robin.vobruba@gmail.com>
Karl-Robert Ernst <k-r.ernst@my-mail.ch> Auswaschbar <k-r.ernst@my-mail.ch>
detrino <chris@detrino.org> Chris Clearwater <chris@chris-desktop.lv.cox.net>
detrino <chris@detrino.org> det <det@37977431-3df6-0310-b722-df95706aa16b>
Tarendai <tarendai@darkstars.co.uk> tnowell <tnowell@37977431-3df6-0310-b722-df95706aa16b>
Dylan Petonke <dylanpetonke@gmail.com> unknown <Dylan@.(none)>
SpliFF <spliff@warriorhut.org> spliff <spliff@betamax.(none)>
jk3064 <jk3064@arcor.de> jk <jk3064@arcor.de>
jk3064 <jk3064@arcor.de> jk <jk@37977431-3df6-0310-b722-df95706aa16b>
jk3064 <jk3064@arcor.de> jk3064@arcor.de <jk3064@arcor.de>
jk3064 <jk3064@arcor.de> -jk- <-jk->
jk3064 <jk3064@arcor.de> jk <-jk->
Kaylewt <blauw_scherm@hotmail.com> kloot <kloot@37977431-3df6-0310-b722-df95706aa16b>
Kaylewt <blauw_scherm@hotmail.com> Kloot <kloot@kloot0.(none)>
Kaylewt <blauw_scherm@hotmail.com> rt <rt@rt-0.(none)>
Kaylewt <blauw_scherm@hotmail.com> Kaylewt <rt@rt0.(none)>
Kaylewt <blauw_scherm@hotmail.com> kloot <kloot@kloot0.(none)>
Kaylewt <blauw_scherm@hotmail.com> Kaylewt <kloot@kloot0.(none)>
Kaylewt <blauw_scherm@hotmail.com> Kloot <blauw_scherm@hotmail.com>
Kaylewt <blauw_scherm@hotmail.com> Kaylewt <ubuntu@ubuntu.(none)>
abma <spring@abma.de> abma <spam@abma.de>
BrainDamage <braindamage@springlobby.info> Andrea Piras <braindamage@springlobby.info>
renemilk <koshi@springlobby.info> Rene Milk <rene.milk@uni-muenster.de>
renemilk <koshi@springlobby.info> renemilk <koshi@springlobby.info>
renemilk <koshi@springlobby.info> Rene Milk <koshi@springlobby.info>
gajop <gajo01@gmail.com> Gajo Petrovic <gajop@uns.ac.rs>
daftalx <daftalx@gmail.com> daftalx <daft@gmx.fr>
FLOZi <flozi@blueyonder.co.uk> Craig Lawrence <flozi@blueyonder.co.uk>
