os:
  - linux
#  - osx

sudo: required
dist: trusty
cache: ccache

addons:
  coverity_scan:
    project:
      name: "spring/spring"
    notification_email: ashdnazg.springrts@gmail.com
    build_command:   make engine-headless
    branch_pattern: coverity_scan
language: cpp
compiler:
  - gcc
  - clang
env:
  global:
    - SPRING_DATADIR=~/build/spring/spring
     # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
     #   via the "travis encrypt" command using the project repo's public key
     #   also note that forks don't get access to secure keys
     #   you have to test using a branch in the main repo
    - secure: "QSZUdSH72Y+X73FBy6cDdhlMH3ppMewbU/LquXe/sIUdJE0LmcCFHnPayI91TTRgS8r6YXKh3DIhE9XTs1OUxmV+RUL84z85byAtotb+ukHSzlSLSGGZfrqey+/vrCXbYykfaxhazlVDfk5vx63lRYiD5lp5KLL24+PIdK6Qd5E="
  matrix:
    - TARGET="CppTestAI HughAI KAIK NullAI NullJavaAI NullOOJavaAI CircuitAI demotool engine-dedicated"
    - TARGET="tests engine-headless check"
matrix:
  fast_finish: true

before_install:
  - test "${TRAVIS_BRANCH}" != "coverity_scan" -o "${TRAVIS_JOB_NUMBER##*.}" = "1" || exit 0
  - tools/scripts/travis_before_install.sh

install:
  - tools/scripts/travis_install.sh

before_script:
  - tools/scripts/travis_before_script.sh

script:
  - test "${TRAVIS_BRANCH}" != "coverity_scan" || exit 0
  - make -k $TARGET

notifications:
  irc:
    channels:
      - chat.freenode.net#taspring
    on_success: change
    on_failure: change
matrix:
  include:
    - language: python
      name: CMake lint
      python: 2.7
      compiler: ""
      env: ""
      before_install: ""
      install: ""
      before_script:
        - pip install cmakelint
      script:
        - find . \( -name "CMakeLists.txt" -o -name "*.cmake" \) -not -path './rts/lib/*' -exec cmakelint --config=.cmakelintrc {} \;
