language: cpp
compiler:
#  - clang
  - gcc
before_script:
# sdl2
  - sudo add-apt-repository ppa:bartbes/love-stable --yes
# gcc 4.7
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test --yes
  - sudo apt-get update -qq
  - sudo apt-get install gcc-4.7 g++-4.7
  - sudo apt-get install libglew-dev libsdl2-dev libdevil-dev libopenal-dev libogg-dev libvorbis-dev libfreetype6-dev p7zip-full libxcursor-dev libunwind7-dev
  - sudo apt-get install libboost-thread1.48-dev libboost-regex1.48-dev libboost-system1.48-dev libboost-program-options1.48-dev libboost-signals1.48-dev libboost-chrono1.48-dev libboost-filesystem1.48-dev libboost-test1.48-dev binutils-gold
env:
  - TARGET=spring-headless
  - TARGET=tests
script:
  - cmake -DCMAKE_CXX_COMPILER=g++-4.7 -DCMAKE_C_COMPILER=gcc-4.7 .
  - make $TARGET -k
# disabled because "make check" needs installed spring and gcc 4.6 fails
# with creg it seems: https://travis-ci.org/spring/spring/builds/17682923#L2664
#  - make check
notifications:
  irc:
    channels:
      - "chat.freenode.net#taspring"
    on_success: change
    on_failure: change

