# password list for buildslaves
macosx1       = ''
debugpassword = ''
freenode      = ''
koshi1        = ''
abma1         = ''
abma2         = ''
zydox1        = ''
jk1           = ''
mrbuild       = ''

