<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Spring RTS</string>
	<key>CFBundleExecutable</key>
	<string>spring</string>
	<key>CFBundleIdentifier</key>
	<string>com.springrts.Spring</string>
	<key>CFBundleName</key>
	<string>Spring RTS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>###VERSION###</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>spring.icns</string>
</dict>
</plist>
