# for easier maintainance this is up one level, so assimp can be more easily replaced
# Directories
/assimp/tools
/assimp/contrib/cppunitassimp*
/assimp/contrib/zlib
/assimp/contrib/unzip
/assimp/doc
/assimp/code/res
/assimp/port
/assimp/samples
/assimp/scripts
/assimp/test
/assimp/packaging
/assimp/workspaces
/assimp/contrib/Open3DGC
/assimp/contrib/rapidjson
/assimp/contrib/gtest
/assimp/contrib/openddlparser
/assimp/contrib/clipper
# Files
/assimp/*.url
/assimp/INSTALL
/assimp/CREDITS
/assimp/CHANGES
/assimp/assimp.pc.in
/assimp/cmakeassimpmodules
/assimp/code/makefile
/assimp/code/Ogre*
/assimp/code/SIB*
/assimp/code/STEP*
/assimp/code/X3D*
/assimp/code/glTF*
/assimp/code/FBX*
/assimp/code/OpenGEX*
/assimp/code/AMF*
/assimp/code/C4D*
/assimp/code/D3M*
/assimp/code/IFC*
/assimp/*.in
/assimp/*.md
/assimp/*.yml
/assimp/cmake-modules/
/assimp/\.*
/assimp/code/\.*
/assimp/include/assimp/\.*
/assimp/code/*Exporter.cpp
/assimp/code/*Exporter.h
/assimp/contrib/poly2tri*
